		.main1 {
    		font-family: "Roboto",helvetica,arial,sans-serif;
		color: #a22222;
		font-size: 22px;
    		padding-top: 10px;
    		vertical-align: top;
    		width: 60%;
    		text-align: center;
    		display: inline-block;
		margin: 3%;
		}		
   		.main2 {
    		font-family: "Roboto",helvetica,arial,sans-serif;
		color: #a22222;
		font-size: 22px;
    		padding-top: 10px;
    		vertical-align: top;
    		width: 27%;
    		display: inline-block;
    		text-align: center;
		margin: 3%;
		}
