		.texto {
		text-decoration: none;
    		font-family: "Roboto",helvetica,arial,sans-serif;
		color: #ccc;
		font-size: 14px;
		}		
		.subtitle {
		text-decoration: none;
    		font-family: "Roboto",helvetica,arial,sans-serif;
		color: black;
		font-size: 16px;
		text-align: left;
		}
		.footer1 {
		font-size: 22px;
    		padding-top: 10px;
    		vertical-align: top;
    		width: 250px;
    		display: inline-block;
    		text-align: left;
    		padding-left: 20px;
		}
		.footer2 {
		font-size: 22px;
    		padding-top: 10px;
    		vertical-align: top;
    		width: 250px;
    		display: inline-block;
    		text-align: left;
    		padding-left: 20px;
		}
		.footer3 {
    		font-family: "Roboto",helvetica,arial,sans-serif;
		text-decoration: none;
		font-size: 14px;
		color: #ccc;
    		padding-top: 10px;
    		vertical-align: top;
    		width: 250px;
    		display: inline-block;
    		text-align: center;
    		padding-left: 20px;
		}
		.footer {
		background-color: #24292e;
		text-align: center;
		}
		.divisor { 
		width: 3px; 
		background: url(https://i.imgur.com/8yA3kCM.png); 
		margin-top: 20px; 
		height: 152px;
		display: inline-block;
		}
		.footertitle {
    		font-family: "Roboto",helvetica,arial,sans-serif;
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 22px;
		color: #a22222;
		}		
    		.menutitle {
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 22px;
		color: #a22222;
		}
    		.menu {
		background-color: #24292e;
		}
    		.menu1 {
		margin-top: 8px;
		margin-bottom: 8px;
		margin-left: 20px;
		font-size: 22px;
    		vertical-align: middle;
    		display: inline-block;
    		text-align: left;
		font-family: "Roboto",helvetica,arial,sans-serif;
		color: #a22222;
		}
    		.menu2 {
		text-decoration: none;
		margin: 8px;
		font-size: 18px;
    		vertical-align: middle;
    		display: inline-block;
    		text-align: right;
		font-family: "Roboto",helvetica,arial,sans-serif;
		color: #ccc;
		}
		.divisor2 { 
		width: 50px; 
		margin-top: 8px; 
		display: inline-block ;
		}
    body {
    margin: 0px;
    }
